<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Scores</title>
  <link rel="stylesheet" href="https://use.typekit.net/qro8nwd.css" />
  <link rel="stylesheet" href="assets/css/global.css" />
  <script src="assets/js/libs/webcg-framework.umd.js"></script>
  <script type="text/javascript" src="assets/js/bigtitle.js"></script>
  <style>
    @font-face {
      font-family: "futura-pt-condensed";
      font-style: medium;
      src: url("assets/fonts/FuturaCondensedPT-Medium-fixed.woff2");
    }
  </style>
</head>

<body>
  <div class="overlay">
    <div id="bigtitle">
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
      <p class="title init"></p>
    </div>
  </div>
</body>

</html>