.webcg-devtools div {
  z-index: 1000 !important;
}

html {
  background-color: transparent;
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
}

body {
  width: 1920px;
  height: 1080px;
  margin: 0;
}

.overlay {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  overflow: hidden;
  /* background-image: url("../images/guide.png"); */
}

.n-video {
  position: absolute;
  top: 47.5%;
}

video {
  width: 1000px;
  height: 2000px;
  object-fit: fill;
  opacity: 0;
}

.c-container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  transform: scale(1) rotate(0deg);
}

.c-1 {
  left: 14%;
  transform-origin: top left;
  transform: scale(0.39) rotate(-1deg);
}

.c-2 {
  left: 39.8%;
  transform-origin: top left;
  transform: scale(0.37) translateY(-90px);
}

.c-3 {
  right: 15.5%;
  transform-origin: top right;
  transform: scale(0.39) rotate(3.5deg) translateY(80px);
}

#bigtitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  color: white;
  font-size: 240px;
  text-align: center;
  line-height: 1080px;
  letter-spacing: 4px;
  font-weight: medium;
  font-family: futura-pt-condensed;
  text-transform: uppercase;
}

.title.init {
  opacity: 0;
  transform: scale(0);
}

.title.in {
  opacity: 0.1;
  transition: opacity 0.9s, transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1);
}

.title.out {
  opacity: 0;
  transition: opacity 0.9s cubic-bezier(0.61, 1, 0.88, 1),
    transform 0.9s cubic-bezier(0.7, 0, 0.84, 0);
  transform: scale(4);
}

.title {
  margin: 0;
  width: 100%;
  position: absolute;
}